@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer


@model FlashCards.Models.User

@{
    ViewData["Title"] = "Edit";
}

<h1>@Localizer["lbledit"]</h1>

<h4>@Localizer["User"]</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="nickName" class="control-label"></label>
                <input asp-for="nickName" class="form-control" />
                <span asp-validation-for="nickName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="@Localizer["lblsave"]" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">@Localizer["lblback"]</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
