@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@model FlashCards.Models.Card

<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Modal Heading</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Term" class="control-label"></label>
                <input asp-for="Term" class="form-control" />
                <span asp-validation-for="Term" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Definition" class="control-label"></label>
                <input asp-for="Definition" class="form-control" />
                <span asp-validation-for="Definition" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Context" class="control-label"></label>
                <!-- Render the dropdown list for selecting the collection name -->
                <select asp-for="Context" class="form-control" asp-items="ViewBag.CollectionNames"></select>
                <span asp-validation-for="Context" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="@Localizer["lblbutton"]" class="btn btn-primary" />
            </div>
        </form>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>
<partial name="_ValidationScriptsPartial"/>

@section Scripts 
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
