@model List<FlashCards.Models.Card>

@{
    ViewData["Title"] = "View Cards";
}

<h1 style ="text-align: center;">View Cards</h1>

@foreach (var card in Model)
{
    <div class="card align-items-center m-auto mb-3" style="width: fit-content">
        <div class="card-body">
            <h3 class="card-header mb-2">@card.Term</h3>
            <p class="card-header mb-2">@card.Definition</p>
            <button class="remembered btn btn-secondary" data-card-id="@card.Id" data-remembered="true">ЗГАДАВ</button>
            <button class="not-remembered btn btn-secondary" data-card-id="@card.Id" data-remembered="false">НЕ ЗГАДАВ</button>
        </div>
    </div>

}

@section Scripts {
    <script>
        $(document).ready(function () {
            $('.remembered, .not-remembered').click(function () {
                var cardId = $(this).data('card-id');
                var remembered = $(this).data('remembered');

                $.ajax({
                    url: '/Collections/ToggleMention',
                    type: 'POST',
                    data: {
                        cardId: cardId,
                        remembered: remembered
                    },
                    success: function (data) {
                        console.log('Mention toggled successfully.');
                    },
                    error: function (xhr, status, error) {
                        console.error('Error toggling mention: ' + error);
                    }
                });
            });
        });
    </script>
}
